# Dependências principais
pandas
numpy
matplotlib
seaborn
gradio
pillow
llama-index-core
llama-index-llms-groq
llama-index-experimental
groq
openpyxl  # Para suporte a arquivos Excel
fpdf
Jinja2
plotly

pyxlsb 
llama-index>=0.10.0
