# Dependências principais
pandas
numpy
matplotlib
seaborn
gradio
pillow
# LlamaIndex e componentes

llama-index-core
llama-index-llms-groq
llama-index-experimental

# API de LLM
groq

# Manipulação de arquivos
openpyxl  # Para suporte a arquivos Excel
fpdf
Jinja2

# Visualização
plotly

pyxlsb 
llama-index>=0.10.0
